@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-black;
}

h1 {
  @apply text-[48px];
  @apply font-bold  text-black;
}
h2 {
  @apply text-[36px] font-semibold  text-black;
}

h3 {
  @apply text-[30px] font-semibold  text-black;
}
h4 {
  @apply text-[24px];
  @apply font-semibold  text-black;
}
h5 {
  @apply text-[20px];
  @apply font-semibold  text-black;
}
h6 {
  @apply text-[16px];
  @apply font-semibold  text-black;
}

p {
  @apply font-normal text-black;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
